<div align="right" style="width:100px;height:100px;position:absolute;left:600px;top:100px;"><%= gravatar_for @user %>
</div>
<table class="profile"> 
	<tr>
		<td class="main"> 
		<h2>
			<b>Profile</b>
			<br>
			<%= h @user.name %> 
		</h2>
		</td>
	</tr>
	<tr>
		<td class="sidebar round">
			<table>
				<tr>
					<td>
						<strong>Name</strong> </td><td>: <%= h @user.name %>
					</td>
				</tr>
				<tr>
					<td>
						<strong>Email id</strong> </td><td>: <%= h @user.email %>
					</td> 
				</tr>
			</table> 
		</td>
 	</tr>
</table>
<br>
<br>
<b><%= link_to "Library Section", books_path %></b>