<h2 align="center">
List of all books in the library
</h1>
<% if !@book.empty? %>
<table border="0" style="width:100%" cellspacing="20">
  <tr align = "left">
    <th>ID</th>
    <th>BookName</th>
    <th>AuthorName</th>
    <th>Available</th>
  </tr>
  <% @book.each do |book| %>
    <tr>
      <td>
        <%= book.id %>
      </td>
      <td>
        <%= book.name %> 
      </td>
      <td>
        <%= book.author %>
      </td>
      <td>
      <% if book.available %>
      Y
      <% else %>
      N
      <% end %>
      </td>
        <% if current_user.admin? %>
        <td>
          <% if book.available %>
            <%= link_to "delete", book, :method => :delete, :confirm => "You sure?" %></td>
          <% end %>
          </td>
        <% end %>
    </tr>
  <% end %> 
</table>
<% else %>
<p> No books are available in the library </p>
<% end %>
<br>
<br>
<b><%= link_to "Library Home", books_path %></b>