<% if !@searchresults.empty? %>
<table border="0" cellspacing="20">
<tr align="left">
    <th>
        ID
    </th>
    <th>
        Book Name
    </th>
    <th>
        Author Name
    </th>
    <th>
        Availability
    </th>
    <th>
    Operation
    </th>
  </tr>
<% @searchresults.each do |search| %>
  <tr>
    <td>
      <%= search.id %>
    </td>
    <td>
      <%= search.name %>
    </td>
    <td>
      <%= search.author %>
    </td>
    <td>
      <% if search.available %>
        Y
        </td>
        <% if current_user.admin? %>
          <td><%= link_to "delete",search, :method => :delete, :confirm => "You sure?" %></td>
        <% else %>
          <td><%= link_to "issue", issue_path(params[:borrow][:book_id] => search.id) %></td>
        <% end %>
      <% else %>
        N
        </td>
        <td></td>
      <% end %>

  </tr>
<% end %> 
</table>
<% else %>
<p> No Matching Books are found.</p>
<% end %>
<br>
<br>
<b><%= link_to "Library Home", books_path %></b>