<% form_tag bookname_path, :method => 'get' do %>
<%= text_field_tag :search ,params[:search]%>
<br>
<br>
<%= submit_tag "ByAuthor", :name=>'button1' %>
<%= submit_tag "ByBook", :name=>'button2' %>
<% end %>
<h2 align="center">
List of available books in the library
</h1>
<% if !@book.empty? %>
<table border="0" style="width:100%" cellspacing="20">
  <tr align = "left">
    <th>ID</th>
    <th>BookName</th>
    <th>AuthorName</th>
    <th>Operation</th>
  </tr>
  <% @book.each do |book| %>
    <tr>
      <td>
        <%= book.id %>
      </td>
      <td>
        <%= book.name %> 
      </td>
      <td>
        <%= book.author %>
      </td>
        <% if current_user.admin? %>
          <td><%= link_to "delete", book, :method => :delete, :confirm => "You sure?" %></td>
        <% else %>
          <td><%= link_to "issue", issue_path(:book_id => book.id) %>
        <% end %>
    </tr>
  <% end %> 
</table>
<% else %>
<p> No books are available in the library </p>
<% end %>
<br>
<br>
<%= link_to "List of all books", allbooks_path, remote: true %>
<br>
<br>
<b><%= link_to "Library Home", bookshome_path %></b>