
<% if @returnbooks.empty? %>
<p>
There are no books to be returned
</p>
<% else %>
<table border="1" style="width:100%">
  <tr>
    <th>ID</th>
    <th>BookName</th>
    <th>AuthorName</th>
    <th>Operation</th>
  </tr>
  <% @returnbooks.each do |b| %>
    <tr>
      <td>
        <%= b.book.id %>
      </td>
      <td>
        <%= b.book.name %>
      </td>
      <td>
        <%= b.book.author %>
      </td>
      <td>
        <%= link_to "return", returnlibrary_path(:book_id => b.book.id) %>   |  <%= link_to "renew", renewlibrary_path(:book_id => b.book.id) %> 
      </td>
    </tr>
  <% end %> 
</table>
<% end %>
<br>
<br>
<b><%= link_to "Library Home", bookshome_path %></b>
